[package]
name = "parser"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
php-parser-rs = { git = "https://github.com/php-rust-tools/parser", version = "0.1.0" }
walkdir = "2.3.2"
